<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "http://www.github.com/jmodel/jmodel-validator-plugin/ValidationLanguage" 
       class = "com.github.jmodel.validator.plugin.validationlanguage.ValidationlanguagePackage"
       genModel = "model/generated/ValidationLanguage.genmodel" /> 
	
  </extension>



</plugin>
